* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* font-family: "Playfair Display", serif; */
/* font-family: "Poppins", sans-serif; */

/* ===========================================
============ header navbar =============== */

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/* ===========================================
============ footer =============== */

.footer {
  color: #fff;
  padding: 25px;
  background: #000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000
  ); /*Chrome 10-25 and Safari 5.1-6*/
  background: linear-gradient(to right, #434343, #000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* ===========================================
============ page not found =============== */

.not-found-img {
  width: 600px;
}

.btn-primary {
  background-color: #ba68c8;
}

.btn-primary:hover {
  background-color: #b95bc9;
}

/* ========================================= */
/* ========= Contact us, About us , Privacy pages ========= */
.contact-us,
.about-us,
.privacy-page {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-contact-us,
.img-about-us {
  max-width: 600px;
}
